<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>

    <!--<module assemblyFile="FileRepositotyModule.dll"
              moduleType="FileRepositotyModule, FileRepositotyModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              moduleName="FileRepositotyModule"
              startupLoaded="true" >
    </module>

    <module assemblyFile="CustomerMetadataModule.dll"
              moduleType="CustomerMetadataModule, CustomerMetadataModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              moduleName="CustomerMetadataModule"
              startupLoaded="true" >
    </module>


    <module assemblyFile="OverviewModule.dll"
              moduleType="OverviewModule, OverviewModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              moduleName="OverviewModule"
              startupLoaded="true" >
        <dependencies>
          <dependency moduleName="FileRepositotyModule"/>
          <dependency moduleName="CustomerMetadataModule"/>
        </dependencies>
      </module>

      <module assemblyFile="AboutModule.dll"
              moduleType="AboutModule, AboutModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              moduleName="AboutModule"
              startupLoaded="true" >
        <dependencies>
          <dependency moduleName="FileRepositotyModule"/>
        </dependencies>
      </module>-->

    <!--<module assemblyFile="OneFWConnector.dll"
                  moduleType="OneFWConnector, OneFWConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                  moduleName="OneFWConnector"
                  startupLoaded="true" >
    </module>

    <module assemblyFile="UnityLoaderConnector.dll"
                  moduleType="UnityLoaderConnector, UnityLoaderConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                  moduleName="UnityLoaderConnector"
                  startupLoaded="true" >
    </module>-->
    

  </modules>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
